---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import ResearchGateIcon from "../components/icons/ResearchGate.astro";
import CodeIcon from "../components/icons/Code.astro";
import BriefCaseIcon from "../components/icons/BriefCase.astro";
import MailIcon from "../components/icons/Mail.astro";
import ContactIcon from "../components/icons/Contact.astro";
import UserIcon from "../components/icons/User.astro";
import SocialContainer from "../components/SocialContainer.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";

const MAIL = "alecuba96@gmail.com";
const PHONE = "+34 600 96 28 35";
const yearsOfExpertise = calculateAge(new Date(2018, 8, 1));
const STATUS = {
  AVAILABLE: {
    text: "Available for hire",
    class: "bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300",
  },
  LISTING: {
    text: "Listening to offers",
    class:
      "bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300 ",
  },
  WORKING: {
    text: "Working",
    class: "bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300 ",
  },
};

const SOCIALPROFILES = [
  {
    href: `https://www.linkedin.com/in/manuel-alejandro-naranjo-rey`,
    name: "LinkedIn",
    icon: LinkedInIcon,
  },
  {
    href: `https://github.com/MANR1996`,
    name: "GitHub",
    icon: GitHubIcon,
  },
  {
    href: `https://www.researchgate.net/profile/Manuel-Alejandro-Naranjo-Rey`,
    name: "ResearchGate",
    icon: ResearchGateIcon,
  },
  {
    href: `mailto:${MAIL}`,
    name: MAIL,
    icon: MailIcon,
  },
];

function calculateAge(bornDate: Date) {
  bornDate = new Date(bornDate);
  var actualDate = new Date();

  var years = actualDate.getFullYear() - bornDate.getFullYear();

  if (
    actualDate.getMonth() < bornDate.getMonth() ||
    (actualDate.getMonth() == bornDate.getMonth() &&
      actualDate.getDate() < bornDate.getDate())
  ) {
    years--;
  }

  return years;
}
---

<style>
  ul li:first-child {
    animation: text-anim 24s cubic-bezier(0.18, 0.89, 0.32, 1.27) both infinite;
  }
  @keyframes text-anim {
    0% {
      margin-top: 0;
    }
    40% {
      margin-top: 0;
    }
    42% {
      margin-top: -40px;
    }
    54.5% {
      margin-top: -40px;
    }
    56.5% {
      margin-top: -80px;
    }
    69% {
      margin-top: -80px;
    }
    71% {
      margin-top: -120px;
    }
    83.5% {
      margin-top: -120px;
    }
    85.5% {
      margin-top: -160px;
    }
    98% {
      margin-top: -160px;
    }
    100% {
      margin-top: 0px;
    }
  }
  @media (min-width: 640px) {
    .typing-animation {
      font: 30px;
      display: block;
      font-family: monospace;
      white-space: nowrap;
      border-right: 2px solid transparent;
      width: 50ch;
      overflow-x: hidden;
      overflow-y: visible;

      animation-timeline: view();

      animation:
        typing 4s steps(50),
        blink 0.5s 10 step-end alternate forwards;

      animation: name duration timing-function delay iteration-count direction
        fill-mode;
    }
    @keyframes typing {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: black;
      }
    }
    @keyframes text-anim {
      0% {
        margin-top: 0;
      }
      40% {
        margin-top: 0;
      }
      42% {
        margin-top: -50px;
      }
      54.5% {
        margin-top: -50px;
      }
      56.5% {
        margin-top: -100px;
      }
      69% {
        margin-top: -100px;
      }
      71% {
        margin-top: -150px;
      }
      83.5% {
        margin-top: -150px;
      }
      85.5% {
        margin-top: -200px;
      }
      98% {
        margin-top: -200px;
      }
      100% {
        margin-top: 0px;
      }
    }
  }
  @media (min-width: 768px) {
    @keyframes text-anim {
      0% {
        margin-top: 0;
      }
      40% {
        margin-top: 0;
      }
      42% {
        margin-top: -70px;
      }
      54.5% {
        margin-top: -70px;
      }
      56.5% {
        margin-top: -140px;
      }
      69% {
        margin-top: -140px;
      }
      71% {
        margin-top: -210px;
      }
      83.5% {
        margin-top: -210px;
      }
      85.5% {
        margin-top: -280px;
      }
      98% {
        margin-top: -280px;
      }
      100% {
        margin-top: 0px;
      }
    }
  }
</style>

<Layout
  title="Resume of AleDev. Desarrollador y Programador Web"
  description=`Contrata a AleDev. Desarrollador y Programador Web con ${yearsOfExpertise} años de experiencia y sumando.`
>
  <main class="px-4">
    <SectionContainer class="lg:pt-44 pt-24 lg:pb-24 pb-12">
      <div class="flex items-center">
        <a class="flex" href={`mailto:${MAIL}`}>
          <Badge text={STATUS.AVAILABLE.text} class={STATUS.AVAILABLE.class} />
        </a>
      </div>
      <h1
        class="text-black sm:flex block text-3xl/[40px] sm:text-4xl/[50px] md:text-4xl/[70px] lg:text-5xl/[70px] font-bold flex-row gap-x-4 pb-4 whitespace-nowrap"
      >
        Hi, I am
        <div class="md:h-[70px] sm:h-[50px] h-[40px] overflow-hidden">
          <ul class="md:leading-[70px] sm:leading-[50px] leading-[40px]">
            <li class="list-none whitespace-nowrap">Alejandro.</li>
            <li class="list-none whitespace-nowrap">a Web Developer.</li>
            <li class="list-none whitespace-nowrap">an apprentice.</li>
            <li class="list-none whitespace-nowrap">a collaborator.</li>
            <li class="list-none whitespace-nowrap">a perfectionist.</li>
          </ul>
        </div>
      </h1>
      <h2
        class="lg:text-2xl text-xl opacity-50 mb-2 sm:text-nowrap sm:whitespace-nowrap max-w-[700px] typing-animation"
      >
        <span class="text-blue-600/80"
          >{yearsOfExpertise} años de experiencia</span
        > en Desarrollo Web<span class="text-blue-600/80"> y sumando.</span>
        <!-- De Madrid, España 🇪🇸. Me especializo en el frontend. -->
      </h2>
      <nav class="flex gap-x-4 gap-y-2 flex-wrap">
        {
          SOCIALPROFILES.map((profile) => (
            <SocialContainer href={profile.href}>
              <profile.icon class="size-5 rounded-md" /> {profile.name}
            </SocialContainer>
          ))
        }
      </nav>
    </SectionContainer>
    <SectionContainer id="about" class="mb-24">
      <h2
        class="opacity-70 text-2xl font-semibold mb-6 flex flex-row items-center gap-x-2"
      >
        <UserIcon class="size-6" />About me
      </h2>
      <About />
    </SectionContainer>
    <SectionContainer id="experience" class="mb-24">
      <h2
        class="opacity-70 text-2xl font-semibold mb-6 flex flex-row items-center gap-x-2"
      >
        <BriefCaseIcon class="size-6" />Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="opacity-70 text-2xl font-semibold mb-6 flex flex-row items-center gap-x-2"
      >
        <CodeIcon class="size-6" />Projects
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="contact" class="mb-24">
      <h2
        class="opacity-70 text-2xl font-semibold mb-6 flex flex-row items-center gap-x-2"
      >
        <ContactIcon class="size-6" />Contact Me
      </h2>
      <Contact mail={MAIL} phone={PHONE} />
    </SectionContainer>
  </main>
</Layout>
